{% extends 'home.html' %}

{% block title %} Article Page {% endblock %}

{% block content %}

<div class="jumbotron" style="margin:auto; width: 75%; background-color:#343A40; color: white;">
    <h1 style="text-align: center; font-family:Flavors;">Day of the Dead</h1>
    <p class="garbage">The beauty behind remembrance is never forgetting- and that is what the day of the dead as a cultural value tries to embody.</p>
    <p class="garbage">Authors from Wikipedia define the day as a Mexican holiday celebrated in Mexico and elsewhere associated with the Catholic celebrations of All Saints' Day and All Souls' Day. The multi-day holiday involves family and friends gathering to pray for and remember friends and family members who have died.</p>
    <p class="garbage">But the people involved in this sacred celebration, themselves, define the day with a bit more nostalgia and feeling. They do not focus on the technicalities and the 'how' behind the day- but rather the- why</p>
    <p class="garbage">They see the sad beauty in such a broken concept of death- they do not glorify its abstraction but rather accept it with welcoming hands. They paint the dreary black and white state of being with the colors of the sun- symbolic of their never-ending love for the deceased family members.</p>
    <p class="garbage">The psychology behind using such bright colored decorations is because they believe- the dead will lure back to the land of the living. They place on their graves marigolds with the hope that the vibrant and powerful- scented flower tempts back the souls of the dead to the living world.</p>
    <p class="garbage">They sit around their loved ones' grave- and chatter about the pleasant memories of their deceased relative. The eldest of the family shares the beautiful stories of the departed’s life with the younger listening in with eager ears. </p>
    <p class="garbage">It is amazingly wholesome and wonderfully nostalgic the way we see the generation gap during the day of the dead. It is almost like the dead family members are the reason why we, as a community, connect. It is the same emotion, the same feeling, and the same intention- it is just different people.</p>
    <p class="garbage">The day of the dead is a perfect graveyard of buried hope. It's a time for the living to remember and the departed, to be celebrated.</p>
</div>

{% endblock %}